* {
    box-sizing: border-box;
}
body {
    font-family: $font-family-sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}
textarea {
    max-width: 100%;
}
button {
    cursor: pointer;
}
i {
    margin: 0 10px;
}
.h-100 {
    height: 100vh;
}
.total-centerize {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.error-message {
    color: $warning;
    font-size: 20px;
}

.avatar-icon {
    padding: 10px;
    background: $deep-saffron;
    text-shadow: 2px 2px #646464;
    font-size: 1.6rem;
    line-height: 0.05;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.spinner {
    animation-duration: 0.7s;
    animation-name: rotate360;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    &--lg {
        font-size: 50px;
    }
    &--sm {
        font-size: 24px;
    }
}

.btn {
    padding: 10px;
    border: none;
    color: #fff;
    &--sm {
        padding: 4px;
    }
    &--blue {
        background: $steel-blue;
        &:hover {
            background: darken($color: $steel-blue, $amount: 14);
        }
    }
    &--orange {
        background: $deep-saffron;
        &:hover {
            background: darken($color: $deep-saffron, $amount: 14);
        }
    }
    &--green {
        background: $green;
        &:hover {
            background: darken($color: $green, $amount: 14);
        }
    }
    &--red {
        background: $warning;
        &:hover {
            background: darken($color: $warning, $amount: 14);
        }
    }
    &--grey {
        background-color: #e8e8e8;
        color: #2d353d;
        border: 1px solid #a2a6ac;
        &:hover {
            background: darken($color: #e8e8e8, $amount: 14);
        }
    }

    &--left-round {
        border-top-left-radius: 20%;
        border-bottom-left-radius: 20%;
    }
    &--right-round {
        border-top-right-radius: 20%;
        border-bottom-right-radius: 20%;
    }
    &--disabled {
        opacity: 0;
    }
}
