.header {
    color: #fff;
    background: $independence;
    &__go-back-icon {
        float: left;
        top: 2px;
        position: relative;
        font-size: 36px;
    }
    .container {
        @include atMedium {
            display: flex;
            justify-content: right;
        }
    }
    i {
        &:hover {
            cursor: pointer;
        }
    }

    &__logout {
        background: $warning;
        border: none;
        padding: 10px;
        color: #fff;
        &:hover {
            background: darken($warning, 10);
            cursor: pointer;
        }
    }
}
