.header {
    color: #fff;
    background: $independence;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100vw;
    &__bar {
        @include atMedium {
            display: flex;
        }
    }
    i {
        &:hover {
            cursor: pointer;
        }
    }

    &__logout {
        background: $warning;
        border: none;
        padding: 10px;
        color: #fff;
        &:hover {
            background: darken($warning, 10);
            cursor: pointer;
        }
    }
}
