.main {
    position: relative;
    padding-top: 80px;
    @include atMedium {
        padding: 30px;
    }
    &__title {
        text-transform: uppercase;
    }

    &__options {
        margin-top: 30px;
        display: flex;
        // align-items: flex-start;
        align-items: center;
        justify-content: space-around;
        @include atMedium {
            justify-content: center;
        }

        & .btn--icon {
            position: relative;
            &::after {
                content: url("/img/up-arrow.png");
                position: absolute;
                bottom: -50px;
                left: 50%;
                transform: translateX(-50%);
                color: #000;
            }
        }
    }

    &__ebay-logo {
        width: 60px;
    }

    &__token {
        width: 100%;
    }
    &__save-btn {
        float: right;
    }
}
.table {
    font-size: 0.7rem;
    margin: 20px auto;

    &--absolute {
        position: absolute;
        top: 220px;
        left: 50%;
        transform: translateX(-50%);
    }

    @include atMedium {
        font-size: 1rem;
    }

    &__head {
        background: darken($color: $green, $amount: 30);
        color: #fff;
    }
    tr:nth-child(even) {
        background: #e4e4e4;
    }

    th {
        padding: 2px;
    }
}
