.row {
    @include clearfix;
    &__4 {
        float: left;
        width: 33.33%;
        &--medium {
            // background: $green;
            @if $grid-borders {
                border: 3px dotted blue;
            }
            @include atMedium {
                float: left;
                width: 33.33%;
            }
        }
    }
    &__6 {
        float: left;
        width: 50%;
        &--medium {
            // background: $deep-saffron;
            @if $grid-borders {
                border: 3px dotted blue;
            }

            @include atMedium {
                float: left;
                width: 50%;
            }
        }
    }
    &__8 {
        float: left;
        width: 66.66%;
        &--medium {
            // background: $warning;
            @if $grid-borders {
                border: 3px dotted blue;
            }

            @include atMedium {
                float: left;
                width: 66.66%;
            }
        }
    }
}
