.flash-message {
    padding: 10px;
    z-index: 1000;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    &--red {
        background: $warning;
    }
    &--green {
        background: $green;
    }
}
.flash-message-enter {
    opacity: 0;
}
.flash-message-enter-active {
    opacity: 1;
    transition: opacity 700ms;
}
.flash-message-exit {
    opacity: 1;
}
.flash-message-exit-active {
    opacity: 0;
    transition: opacity 700ms;
}
