.flash-message {
    padding: 10px;
    position: absolute;
    top: 10px;
    // width: 100%;
    // height: 20px;
    // width: 150px;
    left: 50%;
    // font-size: 1.rem;
    transform: translateX(-50%);
    margin: 0 auto;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    // animation-name: example;
    // animation-duration: 4s;
    // animation-iteration-count: infinite;
    animation: example 4s ease-out 0s;
    &--red {
        background: $warning;
    }
    &--green {
        background: $green;
    }
}

@keyframes example {
    0% {
        top: -100px;
        display: block;
    }
    15% {
        top: 30px;
    }
    75% {
        top: 30px;
    }

    100% {
        top: -100px;
        display: none;
    }
}
